@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
body{
    	font-family: "Raleway", sans-serif;
}
*
{
        font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
img
{
    max-width: 100%;
    height: auto;
}
html,body
{
    overflow-x: hidden;
}

/*----------------------------------header---------------------------------------------------------------------*/
header{
    background-image: url(header.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.htop
{ 
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.hmain
{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.htop>.h
{
    font-weight: 550;
    font-size: 30px;
    color: white;
   padding: 0% 8%;
}
.htop>.p
{
 display: flex;
 margin-right: 250px;
}
.p
{
    margin-top: 20px;
}
.p>a
{
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 22px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0% 13%;
} 
a:hover {
    background-color: rgb(25, 69, 96);
}
.hmain>.h
{
    font-size: 100px;
    color: white;
}
.hmain>p
{
    margin: 0;
    color:white;
    font-size: 20px;
}

/*----------------------------------------------header---------------------------------------------*/

/*-----------------------------------------------main----------------------------------------------*/

/*---------------------------------------whatwedo--------------------------------------------------*/
.whatwedo
{
    width: 100vw;
    height: 120vh;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.wwedo
{
    height: 30%;
    margin-right: 16%;
    margin-left: 16%;
}
.wwedo>.h{
    text-align: left;
    height: 28%;
    color: #72ABD5;
    font-size: 70px;
}
.wwedo>p{
    margin-bottom: 0;
    padding: 0;
    height: 72%;
    color: grey;
    font-size: 21px;
}
.wpromise
{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.wpromise>div>p
{
    text-align: justify;
    word-spacing: 2px;
    line-height: 35px;
    width: 75%;
    margin-left: 25%;
    color: grey;
    font-size: 20px;
}
.wpromise>div
{
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
}
.symbol
{
    display: flex;
    flex-direction: row;
}
.symbol>p
{
    text-align: justify;
    font-size: 35px;
    color: #72ABD5;
    font-weight: 500;
}
.w1
{
    background-image: url(w1.png);
}
.w2
{
    background-image: url(w2.png);

}
.w3
{

    background-image: url(w3.png);
}
.w4
{
    background-image: url(w4.png);
}
.w{

    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
}
/*-----------------------------------------------------whatwedo-----------------------------------------*/

/*-------------------------------------------------testimonials------------------------------------------*/
.testimonials
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(testimonials.jpg);
    background-size: cover;
    color:white
}
.theading
{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tcrew
{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 20px;
}
.c1
{
    background-image: url(c1.png);
}
.c2
{
    background-image: url(c2.png);
}
.c3
{
    background-image: url(c3.png);
}
.c
{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.theading>.h{
    font-size: 50px;
}
.theading>p
{
    font-size: 20px;
   text-align: center;
}
.tcrew>div
{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 25px;
}
.tcrew>div>p
{
    text-align: justify;
    font-size:20px;
    line-height: 30px;
    word-spacing: 2px;
}
/*---------------------------------------------------testimonials-------------------------------------*/
/*----------------------------------------------------gallery------------------------------------------*/
.gallery
{
    display: flex;
    width: 100vw;
    height: auto;
    gap: 50px;
    padding-bottom: 10%;
    flex-direction: column;
    background-color: rgb(18, 18, 18);;
}
.gheading
{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gpics
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.gheading>.h
{
    color: rgb(53, 100, 166);
    font-size:55px;
}
.gheading>p
{
    text-align: center;
    font-size: 20px;
    color: grey;
    width: 70%;
}
.g1
{
    background-image: url(1.jpg);
}
.g2
{
    background-image: url(2.jpg);
}
.g3
{
    background-image: url(3.jpg);
}
.g4
{
    background-image: url(4.jpg);
}
.g5
{
    background-image: url(5.jpg);
}
.gpics>div
{
    width: 250px;
    height: 350px;
    background-size: cover;
}
/*-----------------------------------gallery------------------------------------------*/

/*-------------------------------------footer-------------------------------------------*/

footer
{
    width: 100vw;
    height: 90vh;
    color: white;
    background-image: url(footer.jpg);
    display: flex;
    flex-direction: column;
}

.fheading
{
    height: 30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fbottom
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.fform
{
    margin-top: 30px;
    display: flex;
    gap: 23px;
    flex-direction: column;
    align-items: center;
}
.ficons
{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    gap: 10px;
}
.fheading>.h
{
 font-size: 60px;
 margin-bottom: 0;
}
.fheading>p
{
    font-size: 20px;
    text-align: center;
}
.fform>input , .fform>textarea
{
    background: transparent ;
    border: 1px solid grey;
    border-radius: 5px;
}
.fform>input
{
    width: 100%;
    height: 50px;
}
.fform>textarea
{
    width: 550px;
    height: 300px;
}
.fform>input::placeholder
{
    color: grey;
    font-size: 20px;
}
.fform>textarea::placeholder
{
    color: grey;
    font-size: 25px;
}
.f1
{
    background-image: url(f1.png);
}
.f2
{
    background-image: url(f2.png);
}
.f3
{
    background-image: url(f3.png);
}
.f4
{
    background-image: url(f4.png);
}
.f
{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin: 0;
}
.ficons>div
{
    display: flex;
    flex-direction: row;
}
/*------------------------------footer--------------------------------/

*/

/*-----------------------------*/

@media (max-width:1500px)
{
    .htop
    {
        gap: 0;
    }
    .p>a
    {
        padding: 0% 5%;
    }
}


@media (max-width:900px)
{
    .whatwedo
    {
        height: auto ;
    }    
      .htop
    {
        display: none;
    }
    .testimonials
    {
        height: auto ;
        padding-bottom: 3%;
    }   
   .tcrew
   {
     flex-direction: column;
   }
   .tcrew>div
   {
    width: 80%;
   }
   footer
   {
    height: auto;
   }
   .fbottom
   {
    flex-direction: column;
    gap: 30px;
   }
}

@media (max-width:750px)
{  
   .wpromise
   {
         flex-direction: column;
         align-items: center;
         flex-wrap: nowrap;
   } 
   .wpromise>div
   {
       width: 80%;
       height: auto;
       margin-bottom: 30px;
   }
}
@media (max-width:600px)
{
.fform>input, .fform>textarea
{
    width: 90vw;
}
}


